.editorContent {
  padding: 20px;
  background: none;
  border: none;
  width: 15vw;
  height: auto;
  min-height:500px;
  resize: none;
  white-space: pre-wrap;
  outline-color: none;
}

.editorContentWrapper {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}

.editorChildList{
  display:flex;
}

.editorContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  overflow:hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.editorTitle {
  border: 0;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 700;
}

.editorPreview {
  margin-top: 20px;
  display: flex;
  width: 50%;
  max-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}


@media (max-width: 900px) {
  .editorPreview {
    display: none; 
  }
  .editorContainer{
    width: 70%;
    overflow:hidden;
    min-height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
  }
  .editorContent{
    width:100%;
  }
}